$red           : #c5281d;
$red-font      : #e02020;
$blue          : #105695;
$bluec         : #d9e6ff;
$white-blue    : #e0e5f0;
$white         : #ffffff;
$whitent       : #edf0f5;
$cyan          : #32c5ff;
$green         : #009245;
$green-ligth   : #6dd400;
$green-dark    : #005428;
$grey          : #d4d4d6;
$grey-dark     : #757575;
$grey-blue     : #4a5568;
$grey-dark-blue: #374151;
$new-grey      : #979797;
$greyc         : #e3e5ea;
$light-orange  : #fff8e6;