@font-face {font-family: Helvetica-Rounded-Bold-Condensed;
    src: url("//db.onlinewebfonts.com/t/91344fa2a5df94c3bf0b1433d805ddd5.eot");
    src: url("//db.onlinewebfonts.com/t/91344fa2a5df94c3bf0b1433d805ddd5.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/91344fa2a5df94c3bf0b1433d805ddd5.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/91344fa2a5df94c3bf0b1433d805ddd5.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/91344fa2a5df94c3bf0b1433d805ddd5.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/91344fa2a5df94c3bf0b1433d805ddd5.svg#Helvetica Rounded Condensed") format("svg"); }

    $Helvetica-R: Helvetica-Rounded-Bold-Condensed;