@font-face {font-family: Helvetica-Rounded-Bold;
    src: url("//db.onlinewebfonts.com/t/66e7e1fd36297f2d2483627b8c97071d.eot");
    src: url("//db.onlinewebfonts.com/t/66e7e1fd36297f2d2483627b8c97071d.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/66e7e1fd36297f2d2483627b8c97071d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/66e7e1fd36297f2d2483627b8c97071d.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/66e7e1fd36297f2d2483627b8c97071d.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/66e7e1fd36297f2d2483627b8c97071d.svg#HelveticaRounded LT Std BdCn") format("svg"); }

    $Helvetica-RB: Helvetica-Rounded-Bold;

@font-face {font-family: Modeco-Trial-regular;
    src: url("//db.onlinewebfonts.com/t/c9a0114d6547e52430fb1ded1e071456.eot");
    src: url("//db.onlinewebfonts.com/t/c9a0114d6547e52430fb1ded1e071456.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c9a0114d6547e52430fb1ded1e071456.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c9a0114d6547e52430fb1ded1e071456.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c9a0114d6547e52430fb1ded1e071456.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c9a0114d6547e52430fb1ded1e071456.svg#Modeco Trial") format("svg"); }

    $Modeco: Modeco-Trial-regular;
