
@font-face {font-family: AvenirNext; 
    src: url("//db.onlinewebfonts.com/t/23a52005216dca8d403521d06834f924.eot"); 
    src: url("//db.onlinewebfonts.com/t/23a52005216dca8d403521d06834f924.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/23a52005216dca8d403521d06834f924.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/23a52005216dca8d403521d06834f924.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/23a52005216dca8d403521d06834f924.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/23a52005216dca8d403521d06834f924.svg#AvenirNextW10-Medium") format("svg"); }

    $AvenirN-M: AvenirNext;

@font-face {font-family: AvenirNext-Demi; 
    src: url("//db.onlinewebfonts.com/t/eea8b80c7ab26fc9858ef2b7803443a1.eot"); 
    src: url("//db.onlinewebfonts.com/t/eea8b80c7ab26fc9858ef2b7803443a1.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/eea8b80c7ab26fc9858ef2b7803443a1.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/eea8b80c7ab26fc9858ef2b7803443a1.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/eea8b80c7ab26fc9858ef2b7803443a1.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/eea8b80c7ab26fc9858ef2b7803443a1.svg#AvenirNextLTW02-Demi") format("svg"); }
    
    $AvenirN-D: AvenirNext-Demi;