.Rectangle-quienes {
  width      : 100%;
  background : linear-gradient(180deg, rgba(0, 146, 69, 1) 0%, rgba(0, 172, 97, 1) 50%, rgba(0, 196, 123, 0) 100%);
  margin-top : 0%;
  padding-top: 5%;
}

.FirstTitle {
  margin        : 28% 5% 0.5em 15%;
  font-family   : "Poppins", sans-serif !important;
  font-size     : 4.5em;
  font-weight   : 900;
  line-height   : 1;
  letter-spacing: normal;
  color         : #d9e021;
}

.FirstText {
  margin        : 0% 10% 0.5em 15%;
  height        : 186px;
  font-family   : 'Poppins', sans-serif !important;
  font-size     : 1.2em;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : normal;
  letter-spacing: normal;
  color         : #ffffff;
}

.ContainerGrid {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
}

.GridLeft {
  padding : 5%;
  grid-row: 0.5;
}

.GridRight {
  padding    : 5%;
  grid-column: 0.5;
  align-items: flex-end;
}

.imagenBQuienes {
  width     : 100%;
  margin-top: 4em;
}

.SecondText {
  margin        : 0% 10% 0.5em 15%;
  height        : 186px;
  font-family   : 'Poppins', sans-serif !important;
  font-size     : 1.2em;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : normal;
  letter-spacing: normal;
  color         : #a6a6a6;
}

.SecondTitle {
  margin        : 22% 5% 0.5em 15%;
  font-family   : "Poppins", sans-serif !important;
  font-size     : 4.5em;
  font-weight   : 900;
  line-height   : 1;
  letter-spacing: normal;
  color         : #009245;
}

.ThirdTitle {
  margin        : 22% 5% 0.5em 15%;
  font-family   : "Poppins", sans-serif !important;
  font-size     : 4.5em;
  font-weight   : 900;
  line-height   : 1;
  letter-spacing: normal;
  color         : #009245;
}

.ThirdText {
  margin        : 0% 10% 0.5em 15%;
  height        : 186px;
  font-family   : 'Poppins', sans-serif !important;
  font-size     : 1.2em;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : normal;
  letter-spacing: normal;
  color         : #a6a6a6;
}

.ContainerSectionC {
  display              : grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
  background-image     : url(../../images/QuienesSomos/shutterstock-104304026@2x.png);
  width                : 100%;
  background-repeat    : round;
  margin-top           : 10%;

  .Container {
    margin    : 10% 10% 10% 10%;
    width     : 35%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  }
}

.ContainerGridTablet {
  display: none;
}

.imagenAQuienes {
  width: 100%;
}

/*---------------------Responsive---------------------------*/

@media (min-width: 600px) and (max-width: 960px) {
  .Rectangle-quienes {
    width     : 60em;
    background: none;
  }

  .imagenAQuienes {
    width     : 100%;
    margin-top: 4em;
  }

  .ContainerGrid {
    display: none;
  }

  .ContainerGridTablet {
    display: block;
  }

  .GridUp {
    align-items: center;
    background : linear-gradient(180deg, rgba(0, 146, 69, 1) 0%, rgba(0, 172, 97, 1) 50%, rgba(0, 196, 123, 0) 100%);
  }

  .FirstTitle {
    width     : 90%;
    text-align: center;
    margin    : 0% 0%;
    color     : #008637;
  }

  .FirstText {
    color     : #a6a6a6;
    text-align: center;
    font-size : 1.2em;
    margin-top: 3em;
    width     : 60%;
  }

  .GridsUp {
    text-align: -webkit-center;
    width     : 58em;
    margin-top: 3em;
  }

  .GridUnder {
    text-align: -webkit-center;
    width     : 58em;
    margin-top: 3em;
  }

  .SecondText {
    height        : 14em;
    font-family   : "Poppins", sans-serif !important;
    font-size     : 1.2em;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #a6a6a6;
    width         : 43em;
    margin        : 0;
  }

  .ThirdTitle {
    margin        : 22% 5% 0.5em 15%;
    font-family   : "Poppins", sans-serif !important;
    font-size     : 4.5em;
    font-weight   : 900;
    line-height   : 1;
    letter-spacing: normal;
    color         : #009245;
  }

  .ThirdText {
    margin        : 0% 10% 0.5em 15%;
    height        : 186px;
    font-family   : 'Poppins', sans-serif !important;
    font-size     : 1.2em;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #a6a6a6;
  }

  .ContainerSectionC {
    display              : grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap             : 10px;
    grid-auto-rows       : minmax(100px, auto);
    background-image     : url(../../images/QuienesSomos/shutterstock-104304026.png);
    width                : 960px;
    background-repeat    : no-repeat;
    background-position-x: center;

    .Container {
      margin    : 45% 10% 10% 10%;
      width     : 80%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6334908963585435) 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
}


@media (min-width: 320px) and (max-width: 600px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .Rectangle-quienes {
    width     : 100vmin;
    background: none;
  }

  .imagenAQuienes {
    width     : 100%;
    margin-top: 4em;
  }

  .ContainerGrid {
    display: none;
  }

  .ContainerGridTablet {
    display: block;
  }

  .GridUp {
    margin-top: 2em;
    width: 100vmin;

    align-items: center;
    background : linear-gradient(180deg, rgba(0, 146, 69, 1) 0%, rgba(0, 172, 97, 1) 50%, rgba(0, 196, 123, 0) 100%);
  }

  .FirstTitle {
    font-size : 3.5em;
    width     : 90%;
    text-align: center;
    margin    : 0% 0%;
    color     : #008637;
  }

  .FirstText {
    color     : #a6a6a6;
    text-align: center;
    font-size : 1.2em;
    margin-top: 3em;
    width     : 60%;
  }


  .GridsUp {
    align-items: center;
  }

  .GridUnder {
    text-align: -webkit-center;
    width: 100%;
    margin-bottom: 15em;
  }

  .SecondText {
    height        : 14em;
    font-family   : "Poppins", sans-serif !important;
    font-size     : 1.2em;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #a6a6a6;
    width         : 100%;
    margin        : 0;
  }
  .SecondTitle {
    font-size     : 3em;
  }

  .ThirdTitle {
    margin        : 22% 5% 0.5em 15%;
    font-family   : "Poppins", sans-serif !important;
    font-size : 3em;
    font-weight   : 900;
    line-height   : 1;
    letter-spacing: normal;
    color         : #009245;
  }

  .ThirdText {
    margin        : 0% 10% 0.5em 15%;
    height        : 186px;
    font-family   : 'Poppins', sans-serif !important;
    font-size     : 1.2em;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #a6a6a6;
  }

  .ContainerSectionC {
    display              : grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap             : 10px;
    grid-auto-rows       : minmax(100px, auto);
    background-image     : url(../../images/QuienesSomos/shutterstock-104304026.png);
    width                : 960px;
    background-repeat    : no-repeat;
    background-position-x: center;



    .Container {
      margin: 45% 0% 0% 0%;
      width: 100vmin;
      background: none;
      text-align: -webkit-center;
    }
  }
}

@media (min-width: 2000px) and (max-width: 3000px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */


}