:root {
  --primary: #fff;
}

.btn {
  padding: 0.5em 1.25em;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  width: 3.4375em;
  height: 3.3125em;
  margin: 0 0.875em 0 -3.125em;
  border-radius: 4px;
  border: solid 1px #a6a6a6;
  justify-content: center;
}

.btn--outlinetest {
  width: 3.4375em;
  height: 3.3125em;
  margin: 0;
  padding: 0.6875em 1.4375em 0.75em 1.5625em;
  border-radius: 4px;
  background-color: #009245;
}

.btn--medium {
  justify-content: center;
  width: 6.5em;
  height: 2.5em;
  font-family: Poppins;
  font-size: 1.125em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a6a6a6;
  margin-left: 20%;
}

.btn--large {
  width: 6.5em;
  height: 2.5em;
  font-family: Poppins;
  font-size: 1.125em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 20%;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
