@import '../General/fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');


* {
  margin     : 0;
  font-family: Poppins !important;
}

.Photo {
  background           : url('../../images/Home/init/home.png') center center/cover no-repeat;
  width                : 90%;
  height               : 65em;
  margin-top           : 5em;
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
  max-width            : 1600px;
  margin-left          : auto;
  margin-right         : auto;

  .GridLeft {
    width  : 100%;
    padding: 0%;

  }

  .GridRight {
    padding    : 0%;
    width      : 100%;
    align-items: flex-end;
  }

  .no-te {
    margin-top    : 40%;
    font-size     : 4.0625em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 0.97;
    letter-spacing: 4.1px;
    color         : #ffffff;
  }

  .impuestos {
    font-size     : 4.0625em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 0.97;
    letter-spacing: 4.1px;
    color         : #009245;
  }

  .Nos-encargamos {

    font-size     : 1.5625em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    letter-spacing: normal;
    color         : #ffffff;
    margin        : auto;
    margin-bottom : 1%;
  }

  .Ven-a {
    font-family   : Poppins;
    font-size     : 1.125em;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #ffffff;
    margin        : auto;
    margin-top    : 5%;
  }

  .empezar-gratis {
    height    : 2.7em;
    margin-top: 3%;

    .btn-start {
      margin-top: 3%;
      object-fit: contain;
    }
  }

  .icons {
    margin-top: 5%;
  }

}

.empezar-gratis-videollamada {
  width     : 14.3125em;
  height    : 2.875em;
  margin    : auto;
  object-fit: contain;

}

.base {
  display              : grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
  width                : 90%;
  margin-top           : 10%;
  margin-left          : auto;
  margin-right         : auto;
  object-fit           : contain;
  max-width            : 1600px;

  .center-services {
    align-items          : center;
    text-align           : center;
    display              : grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap             : 10px;
  }

  .iconServices {
    width         : 5vmax;
    grid-auto-rows: minmax(100px, auto);
  }

  .extraicon {
    width: 8vmax;
  }

  .servicios-lanatax {
    font-size      : 1em;
    font-weight    : 600;
    font-stretch   : normal;
    font-style     : normal;
    line-height    : normal;
    letter-spacing : normal;
    color          : #009245;
    text-decoration: none;
  }
}

.homebackground {
  width: 100%;

  .sectionA {
    display                : grid;
    grid-template-columns  : repeat(2, 1fr);
    grid-gap               : 10px;
    grid-auto-rows         : minmax(100px, auto);
    width                  : 90%;
    margin                 : 5% auto;
    background             : url("../../images/Home/sectionD/bginit.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: cover;
    padding                : 5%;

    .imageA {
      width: 100%;
    }

    .form-container {
      width     : 90%;
      margin-top: 5em;
      max-width : 1600px;

      .TUS-IMPUESTOS {
        width         : 100%;
        font-size     : 3vmax;
        font-weight   : 900;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.1;
        letter-spacing: normal;
        text-align    : right;
        color         : #009245;

        .text-style-1 {
          color    : #cb2222;
          font-size: 1em;
        }
      }

      .Nuestra-videollamada {
        width         : 100%;
        font-size     : 1.5vmax;
        font-weight   : 600;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        text-align    : right;
        color         : #a6a6a6;
      }

      .input-form {
        width           : 100%;
        height          : 3.5em;
        margin-top      : 0.625em;
        margin-bottom   : 0.625em;
        margin-left     : 40%;
        margin-right    : auto;
        border-radius   : 23px;
        background-color: #d6d6d6;
        border          : none;
        padding-left    : 3em;
      }

      .divbase {
        background-color: #009245;
        padding         : 1em;
        text-align      : center;
        width           : 20%;
        border-radius   : 3em;
        margin-top      : 0.625em;
        margin-bottom   : 0.625em;
        margin-left     : 75%;
        margin-right    : auto;
        object-fit      : contain;
        cursor          : pointer;

        p {
          color          : #ffffff;
          text-decoration: none;
          display        : -webkit-inline-box;
        }
      }
    }
  }

  .sectionB {
    width                : 90%;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 10px;
    grid-auto-rows       : minmax(100px, auto);
    margin-bottom        : 10%;

    .GridLefB {
      padding-left: 5%;
      grid-column : 0.5;

      .TextB {
        width      : 50%;
        margin-top : 20%;
        margin-left: 10%;
        align-items: center;
        font-size  : 3vmax;
        color      : #009245;
        font-weight: 600;
      }
    }

    .GridRightB {
      padding-right        : 5%;
      display              : grid;
      grid-template-columns: repeat(2, 0.4fr);
      grid-gap             : 30px;
      grid-auto-rows       : minmax(100px, auto);
      grid-column          : 0.5;
      align-items          : flex-end;

      .gridtest {
        margin-top           : 10%;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap             : 10px;
        grid-auto-rows       : minmax(12px, auto);
        align-items          : flex-end;

        .TEXT {
          font-size : 2vmin;
          align-self: center;
          color     : #a6a6a6;

        }
      }
    }
  }
}

.title-carousel {
  width        : 90%;
  margin-left  : 5%;
  margin-bottom: 2em;

  .Millones-nos-Respald {
    width         : 100%;
    font-size     : 2.5vmax;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #009245;
  }

  .nase-a-especialista {
    font-size     : 1em;
    font-weight   : 500;
    font-stretch  : normal;
    font-style    : normal;
    width         : 100%;
    letter-spacing: normal;
    color         : #a6a6a6;
  }
}

.sectionDMovil {
  display: none;
}

.news-autor {
  margin      : 0.75em 3.375em 1% 1%;
  font-weight : bold;
  font-stretch: normal;
  font-style  : normal;
  line-height : 1.42;
}



.carruselTablet {
  display: none !important;
}

.carruselMovil {
  display: none !important;
}

.rec-dot_active {
  background-color: #008f45 !important;
  box-shadow      : 0 0 1px 3px #009245 !important;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec {
  .news-title {
    margin        : 25px 118px 12px 0;
    font-size     : 16px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.75;
    letter-spacing: normal;
    color         : #544837;
  }
}

.rec.rec-carousel-item.rec-carousel-item-1.rec-carousel-item-visible {
  margin-left : 1%;
  margin-right: 1%;

  .news-title {
    margin        : 12px 54px 0 0;
    font-size     : 24px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.42;
    letter-spacing: normal;
    color         : #d9e021;
  }
}


.homebackground {
  width: 100%;

  .sectionD {
    width                  : 100%;
    margin-top             : 10%;
    display                : grid;
    grid-template-columns  : repeat(2, 1fr);
    grid-gap               : 10px;
    grid-auto-rows         : minmax(100px, auto);
    background-image       : url("../../images/Home/sectionD/bg.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: cover;

    .CONECTAR-CON-TU-ASES {
      margin        : 5%;
      font-size     : 59px;
      font-weight   : 900;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : 1.1;
      letter-spacing: normal;
      color         : #009245;
    }

    .textD {
      width       : 100%;
      color       : #a6a6a6;
      margin      : 5%;
      font-size   : 1.2vmax;
      font-weight : bold;
      font-stretch: normal;
      font-style  : normal;
      font-weight : 600;
      font-family : Poppins;
    }

    .textD1 {
      margin        : 5%;
      font-family   : Poppins;
      font-size     : 1.5vmax;
      font-weight   : 600;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : normal;
      letter-spacing: normal;
      color         : #2f281e;
    }

    .Boton-Nombre-d {
      width           : 50%;
      height          : 3em;
      padding-left    : 3em;
      margin-left     : 5%;
      border-radius   : 23px;
      background-color: #d6d6d6;
      border          : none;
    }

    .BotonConectarD {
      border-radius   : 3em;
      width           : 20%;
      background-color: #008f45;
      margin-left     : 20%;
      margin-top      : 1em;
      color           : #ffffff;
    }

    .GridRight {
      text-align: center;
    }
  }
}

.line-copy {
  width           : 90%;
  height          : 1px;
  margin-top      : 2.375em;
  opacity         : 0.5;
  background-color: #008f45;
  margin-left     : 3em;
}

.sectionFooter {
  margin-top           : 1em;
  display              : grid;
  grid-template-columns: repeat(4, auto);
  background           : #fff;
  margin-left          : 3em;

  .LANA-FOOTER {
    width     : 8.375em;
    height    : 2.625em;
    margin    : 2.875em 11.75em 12.0625em 0.125em;
    object-fit: contain;
  }

  .Enlaces-rpidos {
    width         : 8.0625em;
    height        : 1.5em;
    margin        : 0 0 1.75em;
    font-size     : 1.25em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.5;
    letter-spacing: normal;
    color         : #2f281e;
  }

  .Legales {
    width         : 3.9375em;
    height        : 1.5em;
    margin        : 0 2.7em 1.75em 0;
    font-size     : 1.25em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.5;
    letter-spacing: normal;
    color         : #2f281e;
  }

  .link-decoration {
    text-decoration: none;
    list-style     : none;

    .About-Us {
      margin        : 0;
      font-size     : 1em;
      font-weight   : normal;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : 2.19;
      letter-spacing: normal;
      color         : #544837;
    }
  }

  .third {
    .suscribete {
      width         : 17.5em;
      height        : 2.5625em;
      margin        : 0 2.8125em 2em 0;
      font-size     : 1.25em;
      font-weight   : bold;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : 1.5;
      letter-spacing: normal;
      color         : #2f281e;
    }

    .Rectangle-5-Copy {
      width           : 20.3125em;
      height          : 3em;
      margin          : 2.125em 0 1.3125em;
      padding         : 0.625em 1em 0.625em 0.9375em;
      border-radius   : 4px;
      border          : solid 1px #bcd0e5;
      background-color: #ffffff;
    }

    .signup-now-button {
      width           : 12.5em;
      height          : 2.4375em;
      margin          : 1.3125em 12.125em 0 0;
      padding         : 0.5em 0.9375em;
      border-radius   : 4px;
      background-color: #008f45;
      font-size       : 1em;
      font-weight     : bold;
      font-stretch    : normal;
      font-style      : normal;
      line-height     : normal;
      letter-spacing  : normal;
      text-align      : center;
      color           : #ffffff;
    }
  }
}

.redes-sociales {
  display              : grid;
  grid-template-columns: repeat(2, auto);
  background           : #fff;

  .MA-Tax-Group {
    width         : 20.75em;
    height        : 1.3125em;
    margin        : 1.25em 0 0.875em 0;
    font-size     : 0.9375em;
    font-weight   : 600;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #a6a6a6;
    margin-left   : 3em;
  }

  .icons {
    margin-top : 0.5em;
    margin-left: 5em;

    .icon {
      width       : 2.75em;
      height      : 2.75em;
      margin-right: 1em;
      object-fit  : contain;
    }

    .apple {
      margin-left: 24.375em;
    }
  }
}


/*---------------------Responsive---------------------------*/
@media (min-width: 320px) and (max-width: 600px) {

  /* smartphones, iPhone, portrait 480x320 phones */
  .Photo {
    background-image     : url('../../images/Home/init/photoMobile.png');
    background-position  : center;
    max-width            : 450px;
    height               : 48.8em;
    grid-template-columns: repeat(1, auto);

    .GridLeft {
      display: none;
    }

    .GridRight {
      align-items: center;
    }

    .no-te {
      font-size     : 2.0625em;
      width         : 60%;
      margin-top    : 10em;
      margin-inline : auto;
      letter-spacing: 2.14px;
    }

    .impuestos {
      font-size     : 2.0625em;
      width         : 60%;
      margin-inline : auto;
      letter-spacing: 2.14px;
    }

    .Nos-encargamos {
      margin-inline : auto;
      width         : 60%;
      letter-spacing: 0.5px;
    }

    .Ven-a {
      margin-inline: auto;
      width        : 60%;
    }

    .empezar-gratis {
      margin-inline: auto;
      width        : fit-content;
    }
  }

  .base {
    grid-template-columns: repeat(2, 1fr);
    width                : 100%;
    max-width            : 960px;

    .iconServices {
      width         : 7vmax;
      margin-top    : 5%;
      grid-auto-rows: minmax(100px, auto);
    }

    .extraicon {
      margin-top: 10%;
      width     : 12vmax;
    }
  }

  .homebackground {
    .sectionA {
      grid-template-columns: repeat(1, 1fr);

      .form-container {
        width        : 90%;
        max-width    : 600px;
        padding-right: 0;
        padding-left : 0;
        margin-top   : 1em;
        margin-inline: auto;

        .TUS-IMPUESTOS {
          font-size    : 2.61vmax;
          text-align   : center;
          margin-bottom: 1.5em;
        }

        .Nuestra-videollamada {
          text-align   : center;
          margin-top   : 3%;
          margin-bottom: 2em;
        }

        .input-form {
          width : 70%;
          margin: 1em auto 0px auto;
          height: 2.5em;
        }

        .divbase {
          width  : 40%;
          margin : 3% auto 0 auto;
          padding: 0.5em;
        }
      }

      .GridLeft {
        width        : 90%;
        padding-right: 0;
        padding-left : 0;
        margin-inline: auto;
      }
    }

    .sectionB {
      width                : 100%;
      display              : grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content      : center;

      .TextB {
        margin-top     : 20%;
        margin-left    : 25% !important;
        margin-right   : 25%;
        text-align     : center;
        justify-content: center;
        font-size      : 5vmax;

      }

      .GridRightB {
        width                : 80%;
        margin-inline        : auto;
        padding-right        : 0;
        grid-template-columns: repeat(1, auto);

        .gridtest {
          .TEXT {
            font-size: 3vmin;
          }

          .ICON-left {
            margin-left: -12%;
          }
        }
      }
    }
  }

  .title-carousel {

    .Millones-nos-Respald,
    .nase-a-especialista {
      text-align: center;
    }
  }

  .news-autor,
  .rec.rec-carousel-item.rec-carousel-item-1.rec-carousel-item-visible .news-two-title {
    margin-left: 5%;
  }

  .rec {
    .news-title {
      margin     : 12px 54px 0 5%;
      font-size  : 24px;
      font-weight: bold;
      line-height: 1.42;
      color      : #d9e021;
    }
  }

  .carrusel {
    display: none !important;
  }

  .carruselMovil {
    display: flex !important;

  }

  .bSWeAW {
    display: none;
  }

  .carruselTablet {
    display: none !important;
  }

  .homebackground {
    .sectionD {
      display: none;
    }
  }

  .sectionDMovil {
    margin-top             : 10%;
    display                : block;
    grid-template-columns  : repeat(1, 1fr);
    background-image       : url("../../images/Home/sectionD/bg.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: round;

    .GridRight {
      .imageD {
        width      : 85%;
        margin-left: 10%;
      }
    }

    .GridLeft {
      .CONECTAR-CON-TU-ASES {
        text-align  : center;
        color       : #009245;
        font-size   : 8vmin;
        font-weight : 900;
        font-stretch: normal;
        font-style  : normal;
        line-height : 1.1;
      }

      .textD {
        margin-top: 5%;
        text-align: center;
        font-size : 3vmin;
        color     : #a6a6a6;
      }

      .textD1 {
        text-align: center;
        font-size : 3.5vmin;
        margin-top: 5%;
      }

      .Boton-Nombre-d {
        background-color: #d6d6d6;
        border-radius   : 2em;
        width           : 70%;
        height          : 2.5em;
        margin          : 5% 15% 0 15%;
        text-align      : center;
        border          : none;
      }

      .BotonConectarD {
        background-color: #009245;
        border-radius   : 2em;
        width           : 40%;
        margin          : 5% 30% 5% 30%;
        color           : #fff;
        font-size       : 0.8em;
        text-transform  : capitalize;
      }
    }
  }

  .line-copy {
    width: 100%;
  }

  .sectionFooter {
    grid-template-columns: repeat(1, auto);

    .LANA-FOOTER {
      margin      : 0;
      margin-block: 1em;
    }

    .Legales {
      margin-top: 2em;
    }

    .link-decoration {
      .About-Us {
        width : 8em;
        height: 0.625em;
        margin: 2.1875em 0 0.3125em 0;
      }
    }

    .first,
    .second,
    .third {
      margin-left: 10%;
    }

    .third {
      .suscribete {
        width       : 10.5em;
        margin      : 0;
        margin-block: 2em;
      }

      .signup-now-button {
        width        : 9.375em;
        margin-right : 0;
        border-radius: 6px;
        border       : none;
      }

      .Rectangle-5-Copy {
        width : 17.3125em;
        height: 2em;
      }
    }
  }

  .sectionFooter>a {
    margin-inline: auto;
  }

  .redes-sociales {
    grid-template-columns: repeat(1, auto);

    .MA-Tax-Group {
      font-size      : 0.6em;
      margin-top     : 2em;
      justify-content: center;
      text-align     : center;
      margin-inline  : auto;
    }

    .icons {
      margin-left  : 0;
      margin-top   : 1em;
      margin-inline: auto;
      padding-left : 5%;

      .apple {
        margin      : 0;
        margin-right: 1em;
      }
    }
  }
}

/*-----------Responsive tablet--------------*/
@media (min-width: 601px) and (max-width: 960px) {
  .Photo {
    width    : 100%;
    margin   : 5em 0 0 0;
    max-width: 960px;

    .no-te {
      font-size: 3.0625em;
    }

    .impuestos {
      font-size: 3.0625em;
    }
  }

  .base {
    grid-template-columns: repeat(3, 1fr);
    width                : 100%;
    max-width            : 960px;

    .iconServices {
      width         : 7vmax;
      margin-top    : 5%;
      grid-auto-rows: minmax(100px, auto);
    }

    .extraicon {
      margin-top: 10%;
      width     : 12vmax;
    }
  }

  .homebackground {
    .sectionA {
      grid-template-columns: repeat(1, 1fr);

      .form-container {
        .TUS-IMPUESTOS {
          font-size : 5vmax;
          text-align: center;
        }

        .Nuestra-videollamada {
          font-size : 2vmax;
          text-align: center;
          margin-top: 3%;
        }

        .input-form {
          width : 60%;
          margin: 3% auto 0px auto;
        }

        .divbase {
          width : 30%;
          margin: 3% auto 0 auto;
        }
      }

      .GridLeft {
        padding: 0;
        width  : max-content;

        .imageA {
          width      : 85%;
          margin-left: 15%;
        }
      }
    }

    .sectionB {
      width                : 100%;
      display              : grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content      : center;

      .TextB {
        margin-top     : 20%;
        margin-left    : 25% !important;
        margin-right   : 25%;
        text-align     : center;
        justify-content: center;
        font-size      : 5vmax;

      }

      .GridRightB {
        width       : 80%;
        margin-right: 20%;
        margin-left : 15%;

        .gridtest {
          .TEXT {
            font-size: 3vmin;
          }
        }
      }
    }
  }

  .carrusel {
    display: none !important;
  }

  .carruselMovil {
    display: none !important;
  }

  .carruselTablet {
    display: flex !important;


  }

  .bSWeAW {
    display: none;
  }

  .homebackground {
    .sectionD {
      display: none;
    }
  }

  .sectionDMovil {
    margin-top             : 10%;
    display                : block;
    grid-template-columns  : repeat(1, 1fr);
    background-image       : url("../../images/Home/sectionD/bg.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: round;

    .GridRight {
      .imageD {
        width : 60%;
        margin: 0% 20% 5% 20%;
      }
    }

    .GridLeft {
      .CONECTAR-CON-TU-ASES {
        text-align  : center;
        color       : #009245;
        font-size   : 8vmin;
        font-weight : 900;
        font-stretch: normal;
        font-style  : normal;
        line-height : 1.1;
      }

      .textD {
        margin-top: 5%;
        text-align: center;
        font-size : 3vmin;
        color     : #a6a6a6;
      }

      .textD1 {
        text-align: center;
        font-size : 3.5vmin;
        margin-top: 5%;
      }

      .Boton-Nombre-d {
        background-color: #d6d6d6;
        border-radius   : 2em;
        width           : 50%;
        height          : 2.5em;
        margin          : 5% 25% 0 25%;
        text-align      : center;
        border          : none;
      }

      .BotonConectarD {
        background-color: #009245;
        border-radius   : 2em;
        width           : 30%;
        margin          : 5% 35% 5% 35%;
      }
    }
  }

  .sectionFooter {
    grid-template-columns: repeat(3, auto);

    .LANA-FOOTER {
      margin-left : 1.75em;
      margin-right: 3em;
    }

    .Legales {
      margin-left: 0.5em;
    }

    .link-decoration {
      .About-Us {
        width : 8em;
        height: 0.625em;
        margin: 2.1875em 0 0.3125em 0;
      }
    }

    .third {
      grid-column: 2;

      .suscribete {
        width        : 10.5em;
        margin       : 0;
        margin-bottom: 2em;
      }

      .signup-now-button {
        width       : 9.375em;
        margin-right: 0;
      }

      .Rectangle-5-Copy {
        width : 13.3125em;
        height: 2em;
      }
    }
  }

  .redes-sociales {
    grid-template-columns: repeat(2, 50%);

    .MA-Tax-Group {
      font-size      : 1em;
      margin-top     : 2em;
      justify-content: center;
      text-align     : center;
    }

    .icons {
      margin-left: 1.5em;
      margin-top : 1em;

      .apple {
        margin      : 0;
        margin-right: 1em;
      }
    }
  }
}

@media (min-width: 2000px) and (max-width: 3000px) {
  .Photo {
    .empezar-gratis-logos {
      margin-left: 25%;
    }
  }
}