.LANA {
  width: 108px;
  height: 34px;
  margin: 15px 0px 4px 179px;
  object-fit: contain;
  justify-content: center;
}

.Product-Customers-Pr {
  width: 350px;
  height: 28px;
  margin: -30px 29px 9px 600px;
}
  .products {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #a6a6a6;
  }


  .bg {
    width: 102px;
    height: 46px;
    margin: 0 14px 0 29px;
    padding: 11px 22px 12px 25px;
    border-radius: 4px;
    border: solid 1px #a6a6a6;
    
  }

  .Sign-In {
    width: 55px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .Photo {
    background: url('../../images/Home/init/home.png') center center/cover no-repeat; 
    width: 1111px;
    height: 734px;
    margin: 0 144px 128px 145px;
    padding: 194px 48px 86px 565px;
    object-fit: contain;
  }

  .homebackground {
   
    width: fit-content;
    max-width: 1111px;
    height: 734px;
    margin: 0 144px 128px 145px;
    object-fit: contain;
  }

  .Millones-nos-Respald {
    width: 412px;
    height: 48px;
    margin: 0 406px 12px 0;
    font-family: Poppins;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #009245;
  }

  .nase-a-especialista {
    width: 818px;
    height: 26px;
    margin: 12px 0 24px 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .noticia-one-title {
    width: 294px;
    height: 70px;
    margin: 12px 54px 50px 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .noticia-two-title  {
    width: 294px;
    height: 70px;
    margin: 12px 54px 50px 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #d9e021;
  }
  

  .base {
    display: grid;
    grid-template-columns: repeat(6, auto);
    background: #fff; 
    width: 1111px;
    height: 172px;
    margin: 0 144px 128px 145px;
    object-fit: contain;
  }

  .sectionA {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: #fff; 

  }

  .redes-sociales {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: #fff; 

  }

  .sectionD {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: #fff; 
  }

  .doscolumnas-sectionB{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    background: #fff; 
    width: 1111px;
    max-width: 1111px;
    height: 559px;
    margin: 0 0px 0px 0px;
    object-fit: contain;
  }

  .columnas-sectionNoticias {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background: #fff; 
    object-fit: contain;

  }

  .noticias-image-one {
    width: 348px;
    height: 185px;
    margin: 0 0 25px 10px;
    object-fit: contain;
  }

  .noticia-one-autor {
    width: 230px;
    height: 28px;
    margin: 25px 118px 12px 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #544837;
  }

  .noticia-three-autor {
    width: 290px;
    height: 28px;
    margin: 25px 118px 12px 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #544837;
  }

  .noticia-one-autor {
    width: 230px;
    height: 28px;
    margin: 25px 118px 30px 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #544837;
  }

  .noticia-one-autor .text-style-1 {
    font-weight: bold;
  
  }



  .sectionB {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: #fff; 
    width: fit-content;
    max-width: 1111px;
    height: 559px;
    margin: 0 144px 128px 145px;
    object-fit: contain;
  }


  .gridtest {
    display: grid;
    grid-template-columns: repeat(4, auto);
    object-fit: contain;
  }



  .BotonEmpezar {
    width: 229px;
    height: 46px;
    margin: 10px 268px 31px 1px;
    object-fit: contain;
  }
  

  .Logos-tiendas {
    width: 258px;
    height: 39px;
    margin: 31px 238px 0 2px;
    object-fit: contain;
  }

  .Rectangle {
    width: 1400px;
    height: 78px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
  }

  .Rectangle-a {
    width: 1400px;
    height: 78px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;

  }

  .taxes {
    width: 146px;
    height: 172px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0px 0;
  
  }

  .accounting {
    width: 146px;
    height: 172px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0px 0;
  
  }

  .audits {
    width: 146px;
    height: 172px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0px 0;
  
  }

  .payroll {
    width: 146px;
    height: 172px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0px 0;
  
  }

  .corporations {
    width: 146px;
    height: 172px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0px 0;
  
  }

  .planning {
    width: 146px;
    height: 172px;
    margin: 0px 0px 0px 0;
    padding: 0px 0px 0px 0;
  
  }
  

  .imageA {
    width: 550px;
    height: 559px;
    margin: 0 0px 0px 0px;
    object-fit: contain;
  } 

  .sectionAa {
    width: 665px;
    height: 199px;
    margin: 0 0 23px;
    font-family: Poppins;
    font-size: 59px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: right;
    color: #009245;
  }

 
  .textA {
    width: 598px;
    height: 180px;
    margin: 0px 0px 23px 25px;
  }

  .Nuestra-videollamada {
    width: 530px;
    height: 49px;
    margin: 0px 100px 0 0px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #a6a6a6;
  }

  .Boton-Nombre {
    width: 380px;
    height: 46px;
    margin: 10px 0 18px -30px;
    border-radius: 23px;
    background-color: #d6d6d6;
    
  }

  .Botones {
    width: 380px;
    height: 46px;
    margin: 50px 0px 0px 200px;
    

  }

  .Boton-CorreoElectronico {
    width: 380px;
    height: 46px;
    margin: 10px 0 18px -30px;
    border-radius: 23px;
    background-color: #d6d6d6;
  }

  .BotonConectar {
    width: 160px;
    height: 46px;
    margin: 120px 0 0 390px;
    object-fit: contain;
  }

  .BotonConectarD {
    width: 160px;
    height: 46px;
    margin: 18px 20px 35px 220px;
    object-fit: contain;
  }
 
  .Le-ayudaremos-a-hace {
    width: 381px;
    height: 204px;
    margin: 134px 0px 129px 0;
    font-family: Poppins;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #009245;
  }

  .LANA-FOOTER {
    width: 134px;
    height: 42px;
    margin: 46px 188px 193px 2px;
    object-fit: contain;
  }

  .sectionFooter{

      display: grid;
      grid-template-columns: repeat(4, auto);
      background: #fff; 
  
    
  }

  .Enlaces-rpidos {
    width: 161px;
    height: 30px;
    margin: 0 0 35px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f281e;
  }

  .About-Us-Blog-Contac {
    width: 72px;
    height: 140px;
    margin: 35px 89px 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    color: #544837;
  }

  .About-Us {
    
    margin: 0px 0px 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    color: #544837;
    text-decoration: none;
    list-style: none;
  }

  .link-decoration{
    text-decoration: none;
    list-style: none;
  }

  .Rectangle-5-Copy {
    width: 325px;
    height: 48px;
    margin: 34px 0 21px;
    padding: 10px 128px 10px 15px;
    border-radius: 4px;
    border: solid 1px #bcd0e5;
    background-color: #ffffff;
  }

  .signup-now-button {
    width: 131px;
    height: 39px;
    margin: 21px 194px 0 0;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #008f45;

    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .signup-now {
    width: 101px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  .line-copy {
    width: 1109px;
    height: 1px;
    margin: 38px 0 0;
    opacity: 0.5;
    background-color: #008f45;
  }

  .MA-Tax-Group {
    width: 311px;
    height: 21px;
    margin: 20px 142px 14px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .suscribete {
    width: 280px;
    height: 57px;
    margin: 0 45px 34px 0;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f281e;
  }
  
  .facebook {
    width: 44px;
    height: 44px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .twitter {
    width: 44px;
    height: 44px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .instagram {
    width: 44px;
    height: 44px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .apple {
    width: 44px;
    height: 44px;
    margin: 10px 16px 1px 342px;
    object-fit: contain;
  }

  .googleplay {
    width: 44px;
    height: 44px;
    margin: 10px 0 1px 16px;
    object-fit: contain;
  }

  
  
  
  .ICON-LLAMADA {
    width: 54px;
    height: 96px;
    object-fit: contain;
  }
  
  .BILLETES {
    width: 77px;
    height: 62px;
    margin: 53px 0px 37px 0;
    object-fit: contain;
  }

  .PERSONAS {
    width: 72px;
    height: 72px;
    margin: 57px 0px 47px 0px;
    object-fit: contain;
  }

  .ESTADISTICA {
    width: 77px;
    height: 56px;
    margin: 74px 0 46px 0px;
    object-fit: contain;
  }

  
  .PLANETA {
    width: 71px;
    height: 72px;
    margin: 41px 0px 1px 0px;
    object-fit: contain;
  }

  .HOJAS {
    width: 72px;
    height: 80px;
    margin: 34px 0px 0 0px;
    object-fit: contain;
  }

  .line {
    width: 1109px;
    height: 1px;
    margin: 0 0 38px;
    opacity: 0.5;
    background-color: #008f45;
  }
  

  
  

  .Videollamada-Gratis {
    width: 223px;
    height: 26px;
    margin: 26px 0px 88px 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .Reembolso-Mximo-Gar {
    width: 247px;
    height: 42px;
    margin: 0 0px 42px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .Notificaciones-push {
    width: 255px;
    height: 126px;
    margin: 31px 0px 31px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }
  

  .BOLSITADINERO {
    width: 77px;
    height: 84px;
    margin: 9px 0 47px 0px;
    object-fit: contain;
  }

  .TORTA {
    width: 71px;
    height: 71px;
    margin: 44px 0px 37px 0px;
    object-fit: contain;
  }

  .Simple-fcil-y-segu {
    width: 190px;
    height: 26px;
    margin: 63px 0px 63px 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .haz-tus-taxes {
    width: 228px;
    height: 26px;
    margin: 60px 120px 28px 27px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color: #a6a6a6;
  }
  

  .Conctate-con-EAs {
    width: 223px;
    height: 105px;
    margin: 37px 57px 34px 24px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }
  
  .Ten-acceso-a-todos-t {
    width: 257px;
    height: 42px;
    margin: 45px 10px 0 70px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .CONECTAR-CON-TU-ASES {
    width: 491px;
    height: 189px;
    margin: 0 0 49px;
    font-family: Poppins;
    font-size: 59px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #009245;
  }
  .CONECTAR-CON-TU-ASES .text-style-1 {
    color: #cb2222;
  }

  .TUS-IMPUESTOS-CON-LO {
    width: 570px;
    height: 199px;
    margin: 0 0 23px;
    font-family: Poppins;
    font-size: 59px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: right;
    color: #009245;
  }
  .TUS-IMPUESTOS-CON-LO .text-style-1 {
    color: #cb2222;
  }

  .imageD {
    width: 573px;
    height: 559px;
    margin: 57px 128px 0 10px;
    object-fit: contain;
  }

  .textD {
    width: 473px;
    height: 44px;
    margin: 49px 18px 0 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .Boton-Nombre-d {
    width: 380px;
    height: 46px;
    margin: 10px 0px 18px;
    border-radius: 23px;
    background-color: #d6d6d6;
  }

  .BotonEmail {
    width: 380px;
    height: 46px;
    margin: 10px 0px 18px;
    border-radius: 23px;
    background-color: #d6d6d6;
  }

  .Revisin-Completa {
    width: 247px;
    height: 105px;
    margin: 42px 10px 31px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }
  
  .Legales {
    width: 79px;
    height: 30px;
    margin: 0 53px 35px 0;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f281e;
  }
  
  
  

  @media screen and (max-width: 600px) {
    .Text {
      width: 267px;
      height: 206px;
      margin: 326px 26px 13px 27px;
      object-fit: contain;
    }
    .Photo {
      background: url('../../images/Home/init/photoMobile.png') center center/cover no-repeat; 
      width: 340px;
  height: 734px;
  margin: 0 0px 91px 0px;
  padding: 0 0 19px;
  object-fit: contain;
    }

    .BotonEmpezar {
      width: 229px;
      height: 46px;
      margin: 13px 45px 24px 46px;
      object-fit: contain;
    }

    .Logos-tiendas {
      width: 258px;
      height: 39px;
      margin: 24px 31px 0;
      object-fit: contain;
    }

    .base {
      display: grid;
      grid-template-columns: repeat(2, auto);
      background: #fff; 
      object-fit: contain;
      width: 320px;
      height: 685px;
      margin: 49px 0 91px 20px;
    }

    .sectionA {
      display: grid;
      grid-template-columns: repeat(1, auto);
      background: #fff; 
  
    }


    
    .imageA {
      width: 320px;
      height: 316px;
      margin: 0 0px 52px 30px;
      object-fit: contain;
    } 

    .homebackground{

      width: 320px;
      height: 685px;
      margin: 49px 0 91px;
      object-fit: contain;

    }

    .TUS-IMPUESTOS-CON-LO {
      width: 271px;
      height: 150px;
      margin: 0px 25px 0px 24px;
      font-family: Poppins;
      font-size: 29px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.93;
      letter-spacing: normal;
      text-align: right;
      color: #009245;
    }
    .TUS-IMPUESTOS-CON-LO .text-style-1 {
      color: #cb2222;
    }

    .Nuestra-videollamada {
      width: 271px;
      height: 50px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      justify-content: center;
      color: #a6a6a6;
      margin-left: 50px;
    }

    .Botones {
      width: 300px;
      height: 90px;
      margin: 50px 0px 0px 200px;
    
    }
    
    .Boton-Nombre {
      width: 265px;
      height: 46px;
      margin: 0 0px 100px -150px;
   
    }

   .Boton-CorreoElectronico{
      width: 265px;
      height: 46px;
      margin: 70px 0 100px -265px;
   
   
   }

   .BotonConectar {
    width: 160px;
    height: 46px;
    margin: 60px 52px 0 100px;
    object-fit: contain;
  }

  .Le-ayudaremos-a-hace {
    width: 266px;
    height: 144px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #009245;
    text-align: left;
    margin-left: 30px;
  }

  .sectionB {
    display: grid;
    grid-template-columns: repeat(1, auto);
    background: #fff; 
    width: fit-content;
    max-width: 1111px;
    height: 559px;
    object-fit: contain;
    
  }

  .gridtest {
    display: grid;
    grid-template-columns: repeat(2, auto);
    object-fit: contain;
  }

  .ICON-LLAMADA {
    width: 54px;
    height: 96px;
    margin: 0 12px 53px 5px;
    object-fit: contain;
  }

  .Videollamada-Gratis {
    width: 187px;
    height: 26px;
    margin: 70px 0 107px 3px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .BILLETES {
    width: 77px;
    height: 62px;
    margin: 53px 0 57px 5px;
    object-fit: contain;
  }

  .Simple-fcil-y-segu {
    width: 187px;
    height: 26px;
    margin: 70px 0 42px 3px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .PERSONAS {
    width: 72px;
    height: 72px;
    margin: 57px 3px 54px 5px;
    object-fit: contain;
  }

  .Conctate-con-EAs {
    width: 160px;
    height: 147px;
    margin: 42px 30px 39px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .PLANETA {
    width: 71px;
    height: 72px;
    margin: 54px 3px 57px 5px;
    object-fit: contain;
  }

  .haz-tus-taxes {
    width: 160px;
    height: 52px;
    margin: 39px 27px 76px 3px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .BOLSITADINERO {
    width: 77px;
    height: 84px;
    margin: 57px 0 78px 5px;
    object-fit: contain;
  }

  .Reembolso-Mximo-Gar {
    width: 172px;
    height: 42px;
    margin: 76px 18px 57px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .TORTA {
    width: 71px;
    height: 71px;
    margin: 78px 3px 123px 5px;
    object-fit: contain;
  }

  .Revisin-Completa {
    width: 165px;
    height: 147px;
    margin: 57px 25px 22px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .ESTADISTICA {
    width: 77px;
    height: 56px;
    margin: 123px 0 79px 5px;
    object-fit: contain;
  }

  .Notificaciones-push {
    width: 165px;
    height: 189px;
    margin: 22px 25px 34px 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .HOJAS {
    width: 72px;
    height: 80px;
    margin: 79px 3px 0 2px 5px;
    object-fit: contain;
  }

  .Ten-acceso-a-todos-t {
    width: 165px;
    height: 42px;
    margin: 34px 25px 0 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #a6a6a6;
  }

  .Millones-nos-Respald {
    width: 224px;
    height: 60px;
    margin: 1600px 47px 36px 10px;
    font-family: Poppins;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #009245;
  }

  .nase-a-especialista {
    width: 271px;
    height: 72px;
    margin: 36px 0 20px 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #a6a6a6;
  }
  
  .columnas-sectionNoticias {
    display: grid;
    grid-template-columns: repeat(1, auto);
    background: #fff; 
    object-fit: contain;

  }

  .CONECTAR-CON-TU-ASES {
    width: 271px;
    height: 81px;
    margin: 700px 25px 30px 24px;
    font-family: Poppins;
    font-size: 29px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #009245;
  }

  .CONECTAR-CON-TU-ASES .text-style-1 {
    margin: 0px 0px 0px 0px;
    color: #cb2222;
  }
  
  .textD {


    width: 248px;
    height: 98px;
    margin: 30px 48px 36px 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a6a6a6;
  }
  
  .Boton-Nombre-d {
    width: 266px;
    height: 46px;
    margin: 36px 25px 18px 29px;
    object-fit: contain;
  }

  .BotonEmail {
    width: 266px;
    height: 46px;
    margin: 18px 25px 18px 29px;
    object-fit: contain;
  }

  .BotonConectarD {
    width: 160px;
    height: 46px;
    margin: 18px 78px 0 82px;
    object-fit: contain;
  }

  .LANA-FOOTER {
    width: 134px;
    height: 42px;
    margin: 0px 91px 28px 95px;
    object-fit: contain;
  }
  
  .line {
    width: 320px;
    height: 1px;
    margin: 400px 0 35px;
    opacity: 0.5;
    background-color: #008f45;
  }

  .movilbackground-footer{
    margin-top: 1000px;
  }
  
  .navbar-container {
    align-items: center;
    max-width: 500px;
    width: 320px;
    height: 49px;
    margin: 0 0 776px;
    padding: 12px 13px 13px 16px;
    background-color: #ffffff;
}

.LANA {
  width: 76px;
  height: 24px;
  margin: 15px 0 0 199px;
  object-fit: contain;
}

  .sectionFooter{

    display: grid;
    grid-template-columns: repeat(1, auto);
    background: #fff; 

  
}

  .Enlaces-rpidos {
    width: 161px;
    height: 30px;
    margin: 0 0 35px 10px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f281e;
  }
  
  .About-Us {
    width: 72px;
    height: 25px;
    margin: 35px 89px 0 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    color: #544837;
  }

  .Legales {
    width: 79px;
    height: 30px;
    margin: 20px 53px 35px 10px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f281e;
  }
  

  .suscribete {
    width: 280px;
    height: 57px;
    margin: 80px 0 34px 10px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f281e;
  }

  .Rectangle-5-Copy {
    width: 266px;
    height: 48px;
    margin: 34px 15px 21px 10px;
    padding: 10px 67px 10px 17px;
    border-radius: 4px;
    border: solid 1px #bcd0e5;
    background-color: #ffffff;
  }

  .Sign-up-Now {
    width: 101px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  
  }


  .signup-now-button {
    width: 131px;
    height: 39px;
    margin: 21px 194px 0 10px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #008f45;

    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .line-copy {
    width: 320px;
    height: 1px;
    margin: 10px 0 0;
    opacity: 0.5;
    background-color: #008f45;
  }
  
  .redes-sociales {
    display: grid;
    grid-template-columns: repeat(1, auto);
    background: #fff; 

  }

  .facebook {
    width: 37px;
    height: 37px;
    margin: 10px 10px 0px 40px;
    object-fit: contain;
  }

  .twitter {
    width: 37px;
    height: 37px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .instagram {
    width: 37px;
    height: 37px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .apple {
    width: 37px;
    height: 37px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .googleplay {
    width: 37px;
    height: 37px;
    margin: 10px 10px 0px 0px;
    object-fit: contain;
  }

  .MA-Tax-Group {
    width: 207px;
    height: 15px;
    margin: 9px 0px 0;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a6a6a6;
    justify-content: center;
    text-align: center;
  }

  .sectionD {
    display: grid;
    grid-template-columns: repeat(1, auto);
    background: #fff; 
  }

.imageD{

  width: 320px;
  height: 429px;
  margin: 104px 0 59px;
  object-fit: contain;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 250px;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  justify-content: left;
}



}

  @media screen and (min-width: 1090px) and (max-width: 1090px) {
 
    .homebackground{
      
        width: 768px;
        height: 734px;
        padding: 0 0 86px;
        object-fit: contain;
      
    }

    .Photo{

      width: 768px;
      height: 734px;
      padding: 0 0 86px;
      object-fit: contain;
    }


  }


    

    @media screen and (device-width: 800px) { /*Reglas CSS*/ 
    

    } 

  



    
