@import '../General/fonts.scss';
@import '../index.css';


* {
  margin     : 0;
  font-family: 'Poppins';
}
.nav-links {
  justify-items: left;
  align-items: center;
  text-decoration: none;
  font-family: 'Poppins' !important;
  font-size: 0.875em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #a6a6a6;
  margin-right: 3em;
}

.hide{
  display: none;
}
//--Photo Styles

.Photo {
  background           : url('../../images/Home/init/Home.webp') center center/cover no-repeat;
  width                : 100%;
  height               : 70em;
  margin-top           : 0em;
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
  max-width: 1600px;
  margin-left          : auto;
  margin-right         : auto;
  font-family          : 'Poppins' !important;

  .descarga-apps{

    font-size     : 1em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    letter-spacing: normal;
    color         : #ffffff;
    margin        : auto;
    margin-bottom : 1%;

  }

  .GridLeft {
    width  : 100%;
    padding: 0%;

  }

  .GridRight {
    padding    : 0%;
    width      : 100%;
    align-items: flex-end;
  }
  .no-te {
    margin-top    : 40%;
    font-size     : 4.0625em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 0.97;
    letter-spacing: 4.1px;
    color         : #ffffff;
    font-family   : 'PoppinsBold' !important;
    width: 8em;
  }

  .impuestos {
    font-size     : 4.0625em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 0.97;
    letter-spacing: 4.1px;
    color         : #009245;
    font-family   : 'HelveticaRounded' !important;
  }

  .Nos-encargamos {

    font-size     : 1.5625em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    letter-spacing: normal;
    color         : #ffffff;
    margin        : auto;
    margin-bottom : 1%;
  }

  .Ven-a {
    font-family   : 'Modeco' !important;
    font-size     : 1.125em;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #ffffff;
    margin        : auto;
    margin-top    : 5%;
  }


}

//------------------

.empezar-gratis-videollamada {
  width     : 14.3125em;
  height    : 2.875em;
  margin    : auto;
  object-fit: contain;

}

//--Base Styles
.base {
  display              : grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, 1fr);
  grid-gap             : 5em;
  grid-auto-rows       : minmax(100px, auto);
  width                : 90%;
  margin-top           : 10%;
  margin-left          : auto;
  margin-right         : auto;
  max-width            : 1700px;
  justify-content: center;

  .center-services {
    align-items          : center;
    text-align           : center;
    display              : grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap             : 10px;
    justify-content: right;
  }

  .center-servicesA {
    align-items          : center;
    text-align           : center;
    display              : grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap             : 10px;
    justify-content: left;
  }

  .iconServices {
    width         :5vmax;
    height: 8vmax;
    margin: -4em 1em 112px -5em;
    padding: 16px 12px 12px 22px;
    border-radius: 8px;
    background-color: #009245;
  }

  .iconServices-taxes {
    width         :5vmax;
    height: 8vmax;
  }

  .iconServices-audits {
    width         : 6vmax;
    height: 9vmax;
  
  }

  .extraicon {
    width         : 6vmax;
    height: 9vmax;
    margin: -4em 12px 112px 55px;
    border-radius: 8px;
    background-color: #009245;
  }

  .caja-services{
    width: 27em;
    height: 12em;
    margin: auto;
    padding: 0px 24px 28px 31px;
    border-radius: 8px;
    background-color: #d8d8d8;
  }

  .servicios-lanatax {
    font-size: 2.5em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #009245;
    text-decoration: none;
    margin-top: -2em;
    margin-left: 3.3em;
    font-family: "PoppinsExtraBold" !important;
  }

  .servicios-lanatax-des {
    width: auto;
    font-size      : 1.15em;
    font-weight    : normal;
    font-stretch   : normal;
    font-style     : normal;
    line-height    : normal;
    letter-spacing : normal;
    color          : #009245;
    text-decoration: none;
    margin-top:-7em;
  }
}//------------photo

//--homebackground Styles

.homebackground {
  width: 100%;
  .Una-experiencia-dife {
    height: 1em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-family: 'Poppins' !important;
    font-size: 65px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -1.74px;
    text-align: center;
    color: #009245;
  }
  .pasos-a-seguir {
    width: 25em;
    height: 1.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins' !important;
    font-size: 39px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.47px;
    text-align: center;
    color: #a6a6a6;
  }

  .flip-cards-grid{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns  : repeat(3, auto);
    justify-content: center;
  }

  .front-card{
    width: 17em;
    height: 27.5em;
    margin-top: 0em;
    margin-left: 7em;
    padding: 10px 37px 50px 38px;
    border-radius: 8px;
    background-color: #009245;
  }


  .space{
    width: 1em;
    height: 1em;
    margin-top:2em;
  }

  .center-text{
    justify-content: center;
  }
  .card-text{
    width: 21.6em;
    height: 17.6em;
    margin-top: 0em;
    margin-left: 0.91em;
    margin-right: auto;
    font-family: 'Poppins' !important;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.6px;
    text-align: center;
    color: #ffffff;
  }

  .card-number{
    width: 3em;
    height: 2.5em;
    margin-top: 0em;
    font-family: 'Poppins' !important;
    font-size: 7em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -5.66px;
    text-align: center;
    color: #ffffff;
    background-color: #009245;
    margin-left: 0.13em;
    margin-right: auto;
  }

  .center-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
   //---SectionA Styles
  .sectionA {
    display                : grid;
    grid-template-columns  : repeat(2, 1fr);
    grid-gap               : 10px;
    grid-auto-rows         : minmax(100px, auto);
    width                  : 90%;
    margin                 : 5% auto;
    background             : url("../../images/Home/sectionD/bginit.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: cover;
    padding                : 5%;

    .imageA {
      width: 100%;
    }
     //-- Form container styles
    .form-container {
      width     : 90%;
      margin-top: 5em;
      max-width : 1700px;

      .TUS-IMPUESTOS {
        width         : 100%;
        font-size     : 3vmax;
        font-weight   : 900;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.1;
        letter-spacing: normal;
        text-align    : right;
        color         : #009245;
        font-family   : 'PoppinsExtraBold' !important;

        .text-style-1 {
          color    : #cb2222;
          font-size: 1em;
        }
      }
      
      .Nuestra-videollamada {
        width         : 100%;
        font-size     : 1.5vmax;
        font-weight   : 600;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        text-align    : right;
        color         : #a6a6a6;
      }

      .input-form {
        width           : 100%;
        height          : 3.5em;
        margin-top      : 0.625em;
        margin-bottom   : 0.625em;
        margin-left     : 40%;
        margin-right    : auto;
        border-radius   : 23px;
        background-color: #d6d6d6;
        border          : none;
        padding-left    : 3em;
      }

      .divbase {
        background-color: #009245;
        padding         : 1em;
        text-align      : center;
        width           : 20%;
        border-radius   : 3em;
        margin-top      : 0.625em;
        margin-bottom   : 0.625em;
        margin-left     : 75%;
        margin-right    : auto;
        object-fit      : contain;
        cursor          : pointer;

        p {
          color          : #ffffff;
          text-decoration: none;
          display        : -webkit-inline-box;
        }
      } //------------------------form container
    }//--section A
  }//--homebackground


//--SectionB styles
  .sectionB {
    width                : 100%;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 10px;
    grid-auto-rows       : minmax(100px, auto);
    margin-bottom        : 10%;
    max-width            : 1600px;
    margin-left          : auto;
    margin-right         : auto;

    .GridLefB {
      padding-left: 5%;
      grid-column : 0.5;

      .TextB {
        width       : 50%;
        margin-top  : 20%;
        margin-right: 10%;
        align-items : center;
        font-size   : 2vmax;
        color       : #009245;
        font-weight : 600;
        margin-left : auto;
        margin-right: auto;
      }
    }

    .GridRightB {
      padding-right        : 5%;
      display              : grid;
      grid-template-columns: repeat(2, 0.4fr);
      grid-gap             : 30px;
      grid-auto-rows       : minmax(100px, auto);
      grid-column          : 0.5;
      align-items          : flex-end;

      .gridtest {
        margin-top           : 10%;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap             : 10px;
        grid-auto-rows       : minmax(12px, auto);
        align-items          : flex-end;

        .TEXT {
          font-size  : 90%;
          align-self : center;
          color      : #a6a6a6;
          font-family: 'Poppins' !important;
          width: 14.3em;
        }
      }
    }
    
  }//GridB
}//SectionB

//--Tiitle carousel styles

.title-carousel {
  width        : 90%;
  margin-left  : 5%;
  margin-bottom: 2em;

  .Millones-nos-Respald {
    width         : 100%;
    font-size     : 2.5vmax;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #009245;
  }

  .nase-a-especialista {
    font-size     : 1em;
    font-weight   : 500;
    font-stretch  : normal;
    font-style    : normal;
    width         : 100%;
    letter-spacing: normal;
    color         : #a6a6a6;
  }
}//tiitle carousel

.sectionDMovil {
  display: none;
}

.news-autor {
  margin      : 0.75em 3.375em 1% 1%;
  font-weight : bold;
  font-stretch: normal;
  font-style  : normal;
  line-height : 1.42;
}

.destockItems {
  display        : flex;
  flex-direction : row;
  justify-content: space-around;
}

//--Carousel-movil styles
.carruselMovil {
  display: none !important;

  .CarouselItem {
    width        : 40%;
    margin-inline: auto;

    .itemCarousel {
      width: 20em;
      img {
        width: 90%;
      }
    }

    .news-title {
      margin     : 12px 0 0 0.1em;
      font-size  : 24px;
      font-weight: bold;
      line-height: 1.42;
      color      : #d9e021;
    }
  }
}//Carousel-movil

.rec-dot_active {
  background-color: #008f45 !important;
  box-shadow      : 0 0 1px 3px #009245 !important;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec,
.CarouselItem {
  .news-title {
    margin        : 25px 118px 12px 0;
    font-size     : 16px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.75;
    letter-spacing: normal;
    color         : #544837;
  }
}

.rec.rec-carousel-item.rec-carousel-item-1.rec-carousel-item-visible {
  margin-left : 1%;
  margin-right: 1%;

  .news-title {
    margin        : 12px 54px 0 0;
    font-size     : 24px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.42;
    letter-spacing: normal;
    color         : #d9e021;
  }
}

.CarouselItem {
  .news-two-title {
    margin        : 12px 54px 0 0;
    font-size     : 24px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.42;
    letter-spacing: normal;
    color         : #d9e021;
  }
}


//--homebackground 2 styles

.homebackground {
  width: 100%;
  .sectionD {
    width                  : 100%;
    margin-top             : 10%;
    display                : grid;
    grid-template-columns  : repeat(2, 1fr);
    grid-gap               : 10px;
    grid-auto-rows         : minmax(100px, auto);
    background-image       : url("../../images/Home/sectionD/bg.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: cover;

    .CONECTAR-CON-TU-ASES {
      margin        : 5%;
      font-size     : 59px;
      font-weight   : 900;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : 1.1;
      letter-spacing: normal;
      color         : #009245;
      font-family   : 'PoppinsExtraBold' !important;
    }

    .textD {
      width       : 100%;
      color       : #a6a6a6;
      margin      : 5%;

      font-weight : bold;
      font-stretch: normal;
      font-style  : normal;
      font-weight : 600;
      font-family : 'Poppins';
    }

    .textD1 {
      margin        : 5%;
      font-family   : 'Poppins';
      
      font-weight   : 600;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : normal;
      letter-spacing: normal;
      color         : #2f281e;
    }

    .Boton-Nombre-d {
      width           : 50%;
      height          : 3em;
      padding-left    : 3em;
      margin-left     : 5%;
      border-radius   : 23px;
      background-color: #d6d6d6;
      border          : none;
    }

    .BotonConectarD {
      border-radius   : 3em;
      width           : 20%;
      background-color: #008f45;
      margin-left     : 20%;
      margin-top      : 1em;
      color           : #ffffff;
    }

    .GridRight {
      text-align: center;
    }
  }
}//homebackground 2

.line-copy {
  width           : 90%;
  height          : 1px;
  margin-top      : 2.375em;
  margin-left: auto;
  margin-right: auto;
  opacity         : 0.5;
  background-color: #008f45;
}

//-- SectionFooter styles
.sectionFooter {
  margin-top           : 1em;
  display              : grid;
  grid-template-columns: repeat(4, auto);
  background           : #fff;

  .LANA-FOOTER {
    width     : 8.375em;
    height    : 2.625em;
    margin    : 2.875em 0.75em 12.0625em 10.125em;
    object-fit: contain;
  }

  .Enlaces-rpidos {
    width         : 8.0625em;
    height        : 1.5em;
    margin        : 0 0 1.75em;
    font-size     : 1.25em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.5;
    letter-spacing: normal;
    color         : #2f281e;
  }

  .Legales {
    width         : 3.9375em;
    height        : 1.5em;
    margin        : 0 2.7em 1.75em 0;
    font-size     : 1.25em;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.5;
    letter-spacing: normal;
    color         : #2f281e;
  }

  .link-decoration {
    text-decoration: none;
    list-style     : none;

    .About-Us {
      margin        : 0;
      font-size     : 1em;
      font-weight   : normal;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : 2.19;
      letter-spacing: normal;
      color         : #544837;
    }
  }

  .third {
    .suscribete {
      width         : 17.5em;
      height        : 2.5625em;
      margin        : 0 2.8125em 2em 0;
      font-size     : 1.25em;
      font-weight   : bold;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : 1.5;
      letter-spacing: normal;
      color         : #2f281e;
    }

    .Rectangle-5-Copy {
      width           : 20.3125em;
      height          : 3em;
      margin          : 2.125em 0 1.3125em;
      padding         : 0.625em 1em 0.625em 0.9375em;
      border-radius   : 4px;
      border          : solid 1px #bcd0e5;
      background-color: #ffffff;
    }

    .signup-now-button {
      width           : 12.5em;
      height          : 2.4375em;
      margin          : 1.3125em 12.125em 0 0;
      padding         : 0.5em 0.9375em;
      border-radius   : 4px;
      background-color: #008f45;
      font-size       : 1em;
      font-weight     : bold;
      font-stretch    : normal;
      font-style      : normal;
      line-height     : normal;
      letter-spacing  : normal;
      text-align      : center;
      color           : #ffffff;
    }
  }
}//SectionFooter

//--redes-sociales styles
.redes-sociales {
  display              : grid;
  grid-template-columns: repeat(2, auto);
  background           : #fff;

  .MA-Tax-Group {
    width         : 20.75em;
    height        : 1.3125em;
    margin        : 1.25em 0 0.875em 0;
    font-size     : 0.9375em;
    font-weight   : 600;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #a6a6a6;
    margin-left   : 3em;
  }

  .icons {
    margin-top : 1em;
    margin-left: 5em;

    .icon {
      width       : 2.75em;
      height      : 2.75em;
      margin-right: 1em;
      object-fit  : contain;
    }

    .apple {
      margin-left: 24.375em;
    }
  }
}//redes-sociales


.icons-stores{
  margin-top: 10em;
  display:grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 2em;
  justify-content: left;
}


.caja { 
  font-family: 'Poppins' !important;
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background:green ; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 10px; 
  border-radius: 25px 0px 25px 0px; 
  -moz-border-radius: 25px 0px 25px 0px; 
  -webkit-border-radius: 25px 0px 25px 0px; 
  border: 2px solid white;
  width: 20em;
}


/*---------------------Responsive---------------------------*/
@media (min-width: 320px) and (max-width: 600px) {

  /* smartphones, iPhone, portrait 480x320 phones */
  .Photo {
    background-image     : url('../../images/Home/init/photoMobile.webp');
    background-position  : center;
    height               : 48.8em;
    grid-template-columns: repeat(1, auto);
    margin-left: 0;
    margin-right: 0;

    .GridLeft {
      display: none;
    }

    .GridRight {
      align-items: center;
    }

    .no-te {
      font-size     : 2.0625em;
      width         : 60%;
      margin-top    : 10em;
      margin-inline : auto;
      letter-spacing: 2.14px;
      font-family   : 'HelveticaRounded' !important;
    }

    .impuestos {
      font-size     : 2.0625em;
      width         : 60%;
      margin-inline : auto;
      letter-spacing: 2.14px;
      font-family   : 'HelveticaRounded' !important;
    }

    .Nos-encargamos {
      margin-inline : auto;
      width         : 60%;
      letter-spacing: 0.5px;
      font-size: 1.15em;
    }

    .Ven-a {
      margin-inline: auto;
      width        : 60%;
    }

    .empezar-gratis {
      margin-inline: auto;
      width        : fit-content;
    }
  }

  .base {
    display              : grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-gap             : 5em;
    grid-auto-rows       : minmax(100px, auto);
    width                : 90%;
    margin-top           : 10%;
    margin-left          : auto;
    margin-right         : auto;

    justify-content: center;
    .center-services {
      align-items          : center;
      text-align           : center;
      display              : grid;
      grid-template-rows: repeat(2, 1fr);
      grid-gap             : 10px;
      justify-content: right;
    }
  
    .center-servicesA {
      align-items          : center;
      text-align           : center;
      display              : grid;
      grid-template-rows: repeat(2, 1fr);
      grid-gap             : 10px;
      justify-content: left;
    }
  
    .iconServices {
      width         :5vmax;
      height: 8vmax;
      margin: -2em 1em 112px 2em;
      padding: 8px 6px 6px 11px;
      border-radius: 8px;
      background-color: #009245;
    }
  
    .iconServices-taxes {
      width         :5vmax;
      height: 8vmax;
    }
  
    .iconServices-audits {
      width         : 6vmax;
      height: 9vmax;
    
    }
  
    .extraicon {
      width         : 7vmax;
      height: 10vmax;
      margin: -2em 12px 112px 55px;
      border-radius: 8px;
      background-color: #009245;
    }
  
    .caja-services{
      width: 15em;
      height: 10em;
      margin: auto;
      padding: 0px 24px 28px 31px;
      border-radius: 8px;
      background-color: #d8d8d8;
    }
  
    .servicios-lanatax {
      font-size      : 1em;
      font-weight    : 600;
      font-stretch   : normal;
      font-style     : normal;
      line-height    : normal;
      letter-spacing : normal;
      color          : #009245;
      text-decoration: none;
      margin-top: -1em;
      margin-left: 5em;
    }
  
    .servicios-lanatax-des {
      width: auto;
      font-size      : 1em;
      font-weight    : normal;
      font-stretch   : normal;
      font-style     : normal;
      line-height    : normal;
      letter-spacing : normal;
      color          : #009245;
      text-decoration: none;
      margin-top:-5em;
     
    }
  }

  .homebackground {
    max-width: 100%;
    .Una-experiencia-dife {
      height: 1em;
      margin-top: 2em;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Poppins' !important;
      font-size: 38px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: -1.74px;
      text-align: center;
      color: #009245;
    }
    .pasos-a-seguir {
      width: 10em;
      height: 1.5em;
      //Only this
      margin-top: 4em;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Poppins' !important;
      font-size: 30px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.47px;
      text-align: center;
      color: #a6a6a6;
    }
  
    .flip-cards-grid{
      margin-top: 3em;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      //oNLY THAT
      grid-template-columns  : repeat(1, auto);
      justify-content: center;
    }
  
    .front-card{
      width: 3em;
      height: 4.5em;
      margin-top: 0em;
      padding: 10px 37px 50px 38px;
      border-radius: 8px;
      background-color: #009245;
    }
  
  
    .space{
      width: 1em;
      height: 1em;
      margin-top:2em;
    }
  
    .center-text{
      justify-content: center;
    }
    .card-text{
      width: 18em;
      height: 15em;
      margin-block: 2em;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Poppins' !important;
      font-size: 1em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: -0.6px;
      text-align: center;
      color: #ffffff;
    }
  
    .card-number{
      width: 3em;
      font-family: 'Poppins' !important;
      font-size: 6em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -5.66px;
      text-align: center;
      color: #ffffff;
      background-color: #009245;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
    }
  
    .center-button{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sectionA {
      grid-template-columns: repeat(1, 1fr);

      .form-container {
        width        : 90%;
        max-width    : 600px;
        padding-right: 0;
        padding-left : 0;
        margin-top   : 1em;
        margin-inline: auto;

        .TUS-IMPUESTOS {
          font-size    : 2.61vmax;
          text-align   : center;
          margin-bottom: 1.5em;
          font-family  : 'PoppinsExtraBold' !important;
        }

        .Nuestra-videollamada {
          text-align   : center;
          margin-top   : 3%;
          margin-bottom: 2em;
        }

        .input-form {
          width : 70%;
          margin: 1em auto 0px auto;
          height: 2.5em;
        }

        .divbase {
          width  : 40%;
          margin : 3% auto 0 auto;
          padding: 0.5em;
        }
      }

      .GridLeft {
        width        : 90%;
        padding-right: 0;
        padding-left : 0;
        margin-inline: auto;
      }
    }

    .sectionB {
      width                : 100%;
      display              : grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content      : center;

      .TextB {
        margin-top     : 20%;
        margin-left    : 25% !important;
        margin-right   : 25%;
        text-align     : center;
        justify-content: center;
        font-size      : 5vmax;

      }

      .GridRightB {
        width                : 80%;
        margin-inline        : auto;
        padding-right        : 0;
        grid-template-columns: repeat(1, auto);

        .gridtest {
          .TEXT {
            font-size: 4.7vmin;
            width: 10em;
          }

          .ICON-left {
            margin-left: -12%;
          }
        }
      }
    }
  }

  .title-carousel {

    .Millones-nos-Respald,
    .nase-a-especialista {
      text-align: center;
    }
  }

  .rec,
  .CarouselItem {
    .news-title {
      margin     : 12px 54px 0 5%;
      font-size  : 24px;
      font-weight: bold;
      line-height: 1.42;
      color      : #d9e021;
    }
  }

  .bSWeAW {
    display: none;
  }

  .carrusel {
    display: none !important;
  }

  .carruselMovil {
    display: block !important;

    .CarouselItem {
      width: 60%;
    }
  }

  .homebackground {
    .sectionD {
      display: none;
    }
  }

  .sectionDMovil {
    margin-top             : 10%;
    display                : block;
    grid-template-columns  : repeat(1, 1fr);
    background-image       : url("../../images/Home/sectionD/bg.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: round;

    .GridRight {
      .imageD {
        width      : 85%;
        margin-left: 10%;
      }
    }

    .GridLeft {
      .CONECTAR-CON-TU-ASES {
        text-align  : center;
        color       : #009245;
        font-size   : 8vmin;
        font-weight : 900;
        font-stretch: normal;
        font-style  : normal;
        line-height : 1.1;
        font-family : 'PoppinsExtraBold' !important;
      }

      .textD {
        margin-top: 5%;
        text-align: center;
        font-size : 3vmin;
        color     : #a6a6a6;
      }

      .textD1 {
        text-align: center;
        font-size : 3.5vmin;
        margin-top: 5%;
      }

      .Boton-Nombre-d {
        background-color: #d6d6d6;
        border-radius   : 2em;
        width           : 70%;
        height          : 2.5em;
        margin          : 5% 15% 0 15%;
        text-align      : center;
        border          : none;
      }

      .BotonConectarD {
        background-color: #009245;
        border-radius   : 2em;
        width           : 40%;
        margin          : 5% 30% 5% 30%;
        color           : #fff;
        font-size       : 0.8em;
        text-transform  : capitalize;
      }
    }
  }

  .line-copy {
    width: 100%;
    width           : 90%;
  height          : 1px;
  margin-top      : 8.375em;
  margin-left: 0em;
  opacity         : 0.5;
  background-color: #008f45;
  }

  .sectionFooter {
    grid-template-columns: repeat(1, auto);

    .Enlaces-rpidos {
      width: 9em;
    } 

    .LANA-FOOTER {
      margin      : 0;
      margin-block: 1em;
    }

    .Legales {
      margin-top: 2em;
    }

    .link-decoration {
      .About-Us {
        width : 9em;
        height: 0.625em;
        margin: 2.1875em 0 0.3125em 0;
      }
    }

    .first,
    .second,
    .third {
      margin-left: 10%;
    }

    .third {
      .suscribete {
        width       : 10.5em;
        margin-top      : 1em;
        margin-block: 2em;
      }

      .signup-now-button {
        width        : 9.375em;
        margin-right : 0;
        border-radius: 6px;
        border       : none;
      }

      .Rectangle-5-Copy {
        width : 17.3125em;
        height: 2em;
      }
    }
  }

  .sectionFooter>a {
    margin-inline: auto;
  }

  .redes-sociales {
    grid-template-columns: repeat(1, auto);

    .MA-Tax-Group {
      font-size      : 0.6em;
      margin-top     : 2em;
      justify-content: center;
      text-align     : center;
      margin-inline  : auto;
    }

    .icons {
      margin-left  : 0;
      margin-top   : 1em;
      margin-inline: auto;
      padding-left : 5%;

      .apple {
        margin      : 0;
        margin-right: 1em;
      }
    }
  }

  .icons-stores{
    margin-top: 4em;
    display:grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 2em;
    justify-content: center;
  }

  .caja { 
    font-family: 'Poppins' !important;
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background:green ; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 10px; 
    border-radius: 25px 0px 25px 0px; 
    -moz-border-radius: 25px 0px 25px 0px; 
    -webkit-border-radius: 25px 0px 25px 0px; 
    border: 2px solid white;
    width: 20em;
  }
}

/*-----------Responsive tablet--------------*/
@media (min-width: 601px) and (max-width: 960px) {
  .Photo {
    background-image     : url('../../images/Home/init/pick-header.png');
    background-position  : center;
    height: 734px;
    margin   : -2em 0 0 0;
    

    .no-te {
      font-size  : 2.5em;
      font-family: 'HelveticaRounded' !important;
    }

    .impuestos {
      font-size  : 3.0625em;
      font-family: 'HelveticaRounded' !important;
    }
  }

  .base {
    grid-template-columns: repeat(3, 1fr);
    width                : 100%;
  

    .iconServices {
      width         : 7vmax;
      margin-top    : 5%;
      grid-auto-rows: minmax(100px, auto);
    }

    .extraicon {
      margin-top: 10%;
      width     : 12vmax;
    }
  }

  .homebackground {
    max-width: 100%;
    .Una-experiencia-dife {
      height: 1em;
      margin-top: 2em;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Poppins' !important;
      font-size: 4em;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: -1.74px;
      text-align: center;
      color: #009245;
    }
    .pasos-a-seguir {
      width: 10em;
      height: 1.5em;
      //Only this
      margin-top: 5em;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Poppins' !important;
      font-size: 39px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.47px;
      text-align: center;
      color: #a6a6a6;
    }
  
    .flip-cards-grid{
      margin-top: 3em;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      //oNLY THAT
      grid-template-columns  : repeat(1, auto);
      justify-content: center;
    }
  
    .front-card{
      width: 35vmax;
      height: 30vmax;
      margin: 1em;
      padding: 10px 37px 50px 38px;
      border-radius: 8px;
      background-color: #009245;
    }
  
  
    .space{
      width: 1em;
      height: 1em;
      margin-top:2em;
    }
  
    .center-text{
      justify-content: center;
    }
    .card-text{
      width: 17.6em;
      height: 15.5em;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Poppins' !important;
      font-size: 1em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: -0.6px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 4em;
    }
  
    .card-number{
      width: 3em;
      font-family: 'Poppins' !important;
      font-size: 6em;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -5.66px;
      text-align: center;
      color: #ffffff;
      background-color: #009245;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
    }
  
    .center-button{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sectionA {
      grid-template-columns: repeat(1, 1fr);

      .form-container {
        .TUS-IMPUESTOS {
          font-size  : 5vmax;
          text-align : center;
          font-family: 'PoppinsExtraBold' !important;
        }

        .Nuestra-videollamada {
          font-size : 2vmax;
          text-align: center;
          margin-top: 3%;
        }

        .input-form {
          width : 60%;
          margin: 3% auto 0px auto;
        }

        .divbase {
          width : 30%;
          margin: 3% auto 0 auto;
        }
      }

      .GridLeft {
        padding: 0;
        width  : max-content;

        .imageA {
          width      : 85%;
          margin-left: 15%;
        }
      }
    }

    .sectionB {
      width                : 100%;
      display              : grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content      : center;

      .TextB {
        margin-top     : 20%;
        margin-left    : 25% !important;
        margin-right   : 25%;
        text-align     : center;
        justify-content: center;
        font-size      : 5vmax;

      }

      .GridRightB {
        width       : 80%;
        margin-inline: auto;

        .gridtest {
          .TEXT {
            width: 14.3em;
            font-size: 1.8vmin;
          }
        }
      }
    }
  }

  .carrusel {
    display: none !important;
  }

  .carruselMovil {
    display: block !important;
  }

  .bSWeAW {
    display: none;
  }

  .homebackground {
    width: 100%;
    .sectionD {
      display: none;
    }
  }

  .sectionDMovil {
    margin-top             : 10%;
    display                : block;
    grid-template-columns  : repeat(1, 1fr);
    background-image       : url("../../images/Home/sectionD/bg.png");
    background-position-x  : center;
    background-repeat      : no-repeat;
    -webkit-background-size: round;

    .GridRight {
      .imageD {
        width : 60%;
        margin: 0% 20% 5% 20%;
      }
    }

    .GridLeft {
      .CONECTAR-CON-TU-ASES {
        text-align  : center;
        color       : #009245;
        font-size   : 8vmin;
        font-weight : 900;
        font-stretch: normal;
        font-style  : normal;
        line-height : 1.1;
        font-family : 'PoppinsExtraBold' !important;
      }

      .textD {
        margin-top: 5%;
        text-align: center;
        font-size : 3vmin;
        color     : #a6a6a6;
      }

      .textD1 {
        text-align: center;
        font-size : 3.5vmin;
        margin-top: 5%;
      }

      .Boton-Nombre-d {
        background-color: #d6d6d6;
        border-radius   : 2em;
        width           : 50%;
        height          : 2.5em;
        margin          : 5% 25% 0 25%;
        text-align      : center;
        border          : none;
      }

      .BotonConectarD {
        background-color: #009245;
        border-radius   : 2em;
        width           : 30%;
        margin          : 5% 35% 5% 35%;
      }
    }
  }

  .sectionFooter {
    grid-template-columns: repeat(3, auto);

    .LANA-FOOTER {
      margin-left : 1.75em;
      margin-right: 3em;
    }

    .Legales {
      margin-left: 0.5em;
    }

    .link-decoration {
      .About-Us {
        width : 8em;
        height: 0.625em;
        margin: 2.1875em 0 0.3125em 0;
      }
    }

    .third {
      grid-column: 2;

      .suscribete {
        width        : 10.5em;
        margin-top       : 2em;
        margin-bottom: 2em;
      }

      .signup-now-button {
        width       : 9.375em;
        margin-right: 0;
      }

      .Rectangle-5-Copy {
        width : 13.3125em;
        height: 2em;
      }
    }
  }

  .redes-sociales {
    grid-template-columns: repeat(2, 50%);

    .MA-Tax-Group {
      font-size      : 1em;
      margin-top     : 2em;
      justify-content: center;
      text-align     : center;
    }

    .icons {
      margin-left: 1.5em;
      margin-top : 1em;

      .apple {
        margin      : 0;
        margin-right: 1em;
      }
    }
  }

  .icons-stores{
    margin-top: 4em;
    display:grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: 2em;
    justify-content: left;
  }

  .base {
    display              : grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-gap             : 5em;
    grid-auto-rows       : minmax(100px, auto);
    width                : 90%;
    margin-top           : 10%;
    margin-left          : auto;
    margin-right         : auto;
    justify-content: center;
    .center-services {
      align-items          : center;
      text-align           : center;
      display              : grid;
      grid-template-rows: repeat(2, 1fr);
      grid-gap             : 10px;
      justify-content: right;
    }
  
    .center-servicesA {
      align-items          : center;
      text-align           : center;
      display              : grid;
      grid-template-rows: repeat(2, 1fr);
      grid-gap             : 10px;
      justify-content: left;
    }
  
    .iconServices {
      width         :7vmax;
      height: 12vmax;
      margin: -4em 1em 112px -5em;
      padding: 16px 12px 12px 22px;
      border-radius: 8px;
      background-color: #009245;
    }
  
    .iconServices-taxes {
      width         :7vmax;
      height:11vmax;
    }
  
    .iconServices-audits {
      width         : 9vmax;
      height: 14vmax;
    
    }
  
    .extraicon {
      width         : 12vmax;
      height: 15vmax;
      margin: -4em 12px 112px 55px;
      border-radius: 8px;
      background-color: #009245;
    }
  
    .caja-services{
      width: 27em;
      height: 12em;
      margin: auto;
      padding: 0px 24px 28px 31px;
      border-radius: 8px;
      background-color: #d8d8d8;
    }
  
    .servicios-lanatax {
      font-size      : 2em;
      font-weight    : 600;
      font-stretch   : normal;
      font-style     : normal;
      line-height    : normal;
      letter-spacing : normal;
      color          : #009245;
      text-decoration: none;
      margin-top: 0em;
      margin-left: 5em;
    }
  
    .servicios-lanatax-des {
      width: auto;
      font-size      : 1em;
      font-weight    : normal;
      font-stretch   : normal;
      font-style     : normal;
      line-height    : normal;
      letter-spacing : normal;
      color          : #009245;
      text-decoration: none;
      margin-top:-4em;
    }
  }
}

@media (min-width: 2000px) and (max-width: 3000px) {
  .Photo {
    .empezar-gratis-logos {
      margin-left: 25%;
    }
  }
}


@media (min-width: 1200px) and (max-width: 1600px) {

  .line-copy {
    width           : 80%;
    height          : 1px;
    margin-top      : 2.375em;
    margin-left: 6em;
    opacity         : 0.5;
    background-color: #008f45;
  }


.base {
  display              : grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
  width                : 90%;
  margin-top           : 10%;
  margin-left          : auto;
  margin-right         : auto;

  justify-content: center;
  .center-services {
    align-items          : center;
    text-align           : center;
    display              : grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap             : 10px;
    justify-content: right;
  }

  .center-servicesA {
    align-items          : center;
    text-align           : center;
    display              : grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap             : 10px;
    justify-content: left;
  }

  .iconServices {
    width         :5vmax;
    height: 8vmax;
    margin: -4em 1em 112px -5em;
    padding: 16px 12px 12px 22px;
    border-radius: 8px;
    background-color: #009245;
  }

  .iconServices-taxes {
    width         :5vmax;
    height: 8vmax;
  }

  .iconServices-audits {
    width         : 6vmax;
    height: 9vmax;
  
  }

  .extraicon {
    width         : 6vmax;
    height: 9vmax;
    margin: -4em 12px 112px 55px;
    border-radius: 8px;
    background-color: #009245;
  }

  .caja-services{
    width: 27em;
    height: 12em;
    margin: auto;
    padding: 0px 24px 28px 31px;
    border-radius: 8px;
    background-color: #d8d8d8;
  }

  .servicios-lanatax {
    font-size      : 2em;
    font-weight    : 600;
    font-stretch   : normal;
    font-style     : normal;
    line-height    : normal;
    letter-spacing : normal;
    color          : #009245;
    text-decoration: none;
    margin-top: 0em;
    margin-left: 5em;
  }

  .servicios-lanatax-des {
    width: auto;
    font-size      : 1em;
    font-weight    : normal;
    font-stretch   : normal;
    font-style     : normal;
    line-height    : normal;
    letter-spacing : normal;
    color          : #009245;
    text-decoration: none;
  }
}


}
