.navbar {
  background: #fff !important;
  height: 5em;
  justify-content: center;
  align-items: center;
  width: 2vmax;
  .navbar-container {
    align-items: center;
    height: 4.875em;
    margin: auto;
    .LANA {
      width: 6.75em;
      height: 2.125em;
      margin: auto;
      margin-left: 10%;
      object-fit: contain;
      justify-content: center;
    }
    .menu-icon {
      display: none;
      .fa-bars {
        color: #000;
      }
    }
    .nav-menu {
      display: flex;
      grid-gap: 0.625em;
      list-style: none;
      text-align: center;
      margin-left: 12%;
      .nav-item {
        height: 2em;
        margin: auto;
        width: max-content;
        .nav-links {
          justify-items: left;
          align-items: center;
          text-decoration: none;
          font-family: 'Poppins', sans-serif !important;
          font-size: 0.875em;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2;
          letter-spacing: normal;
          color: #a6a6a6;
          margin-right: 3em;
        }
        .nav-links:hover {
          color: #009245;
          transition: all 0.2s ease-out;
        }
      }
      .nav-links-mobile {
        display: none;
      }
      .nav-btn {
        margin-top: -0.4em;
      }
      .hide{
        display: none;
      }
    }
  }
}

.hideIcon{
  display: none;
}
.user-avatar{
  justify-items: left;
  color: #000;
  align-items: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
  font-size: 0.875em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #a6a6a6;
  margin-right: 3em;
}

//Compartidos entre tablet y movil
@media screen and (max-width: 960px) {
  .navbar {
   position:fixed;
   width:100%;
   .navbar-container {
    .menu-icon {
      display: block;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 85vh;
      position: fixed;
      top: 5em;
      left: -200%;
      opacity: 1;
      transition: all 0.5s ease;
      .nav-item {
        .nav-links {
          text-align: center;
          padding: 2rem;
          width: 100%;
          display: table;
        }
      }
      .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 0.875em 1.25em;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
      }
      .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
      }
    }
    .active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
   }
  }

  .fa-times {
    color: #000;
    font-size: 2rem;
  }
  .left {
    margin-inline-start: auto;
    margin-inline-end: 15%;
  }
}



//tablet
@media (min-width: 601px) and (max-width: 960px) {
  .navbar {
    align-items: flex-start;
    .navbar-container {
      width: 100%;
      margin: 0;
  
      .LANA {
        margin     : auto;
        margin-left: 50%;
        width: 20.75em;
      }
    }
  }
}


//mobile
@media (min-width: 320px) and (max-width: 600px) {
  .navbar {
    .navbar-container {
      width    : 100%;
  
      .LANA {
        margin     : auto;
        margin-left: 10%;
        margin-top : 10%;
        object-fit : contain;
      }
    }
  }
}
