.navbar {
  background: #edf0f5;
  height: 5em;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  z-index: 999;
  .navbar-container {
    align-items: center;
    width: 90%;
    height: 4.875em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    .LANA {
      width: 6.75em;
      height: 2.125em;
      margin: auto;
      margin-left: 10%;
      object-fit: contain;
      justify-content: center;
    }
    .menu-icon {
      display: none;
      .fa-bars {
        color: #000;
      }
    }
    .nav-menu {
      display: grid;
      grid-template-columns: repeat(7, auto);
      grid-gap: 0.625em;
      list-style: none;
      text-align: center;
      width: 62vw;
      justify-content: right;
      margin-left: 12%;
      .nav-item {
        height: 2em;
        margin: auto;
        .nav-links {
          justify-items: left;
          align-items: center;
          text-decoration: none;
          font-family: 'Poppins', sans-serif !important;
          font-size: 0.875em;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2;
          letter-spacing: normal;
          color: #a6a6a6;
          margin-right: 3em;
        }
        .nav-links:hover {
          border-bottom: 4px solid #fff;
          transition: all 0.2s ease-out;
        }
      }
      .nav-links-mobile {
        display: none;
      }
      .nav-btn {
        margin-top: -0.4em;
      }
      .hide{
        display: none;
      }
    }
  }
}

.user-avatar{
  justify-items: left;
  color: #000;
  align-items: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
  font-size: 0.875em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #a6a6a6;
  margin-right: 3em;
}

@media screen and (min-width: 2048px) {
  .navbar {
    .navbar-container {
      width: 50%;
      .nav-menu {
        width: 41vw;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
   position:fixed;
   width:100%;
   .navbar-container {
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 85vh;
      position: fixed;
      top: 5em;
      left: -200%;
      opacity: 1;
      transition: all 0.5s ease;
      .nav-item {
        .nav-links {
          text-align: center;
          padding: 2rem;
          width: 100%;
          display: table;
        }
      }
      .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 0.875em 1.25em;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
      }
      .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
      }
    }
    .active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
   }
  }

  .fa-times {
    color: #000;
    font-size: 2rem;
  }
}
